name: Android CI

on: [push]

jobs:
  test:
    runs-on: macOS-latest
    steps:
    - name: checkout
      uses: actions/checkout@v1
      with:
        fetch-depth: 1

    - name: run tests
      uses: reactivecircus/android-emulator-runner@v1.0.2
      with:
        api-level: 29
        script: ./gradlew check publishToMavenLocal --continue --no-daemon --stacktrace
